

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #f0f0f0;
  
}
main{
  margin-top: 80px;
}
#header{
  z-index: 999;
  width: 250vh;
  background-color: 	#343a40;
  padding: 20px;
  position: fixed;
  top: 0;
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 2px 3px 36px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 3px 36px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 36px 1px rgba(0,0,0,0.75);
}

#navbar a{
  color: #ffffff;
  margin: 5rem;
  font-weight: 900;
  font-size: 20px;
}
#navbar a:hover{
  color: 	#6c757d;
}

/* App.css */

.root-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.menu-logo {
  display: none; /* Initially hidden on larger screens */
}

.menu-logo div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: transform 0.4s; /* Apply transition to the transform property */
}



@media (max-width: 690px) {
  .menu-logo {
    display: block;
  }

  #navbar {
    display: none; /* Initially hidden on smaller screens */
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #333;
    width: 100%;
  }

  #navbar.open {
    display: flex; /* Display when menu is toggled */
  }

  #navbar a {
    display: block;
    padding: 10px;
    text-align: center;
  }
}
